<a href="https://colab.research.google.com/github/Phan-Van-Duy-Phuc/Ph-cphan/blob/main/bai_https_maps_google_com_tap_pandas_series_duyphuc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Câu 1: Hãy tạo 1 đối tượng kiểu Series có tối thiểu 10 phần tử (kiểu số) với giá trị tùy ý thích của bạn. In giá trị của Series đó ra màn hình

In [ ]:
import pandas as pd

a = pd.Series([10,25,48,50,67,98,50,15,18,65])
seri = pd.Series(a)
print(seri)

0    10
1    25
2    48
3    50
4    67
5    98
6    50
7    15
8    18
9    65
dtype: int64

Câu 2: Hãy tạo 1 đối tượng kiểu Series với giá trị khởi tạo hình thành từ dữ liệu kiểu Dictionary. In kết quả ra màn hình

In [ ]:
import pandas as pd

data = {'a' : -1.5, 'b' : 12, 'd' : 2.0, 'f': 10, 'g': 5}
ser = pd.Series(data,index=['a','c','b','d','e','f'])
print(ser)

a    -1.5
c     NaN
b    12.0
d     2.0
e     NaN
f    10.0
dtype: float64

Câu 3: Sử dụng series ở câu 1, hãy thay đổi giá trị của cột index từ kiểu số theo kiểu ký tự với giá trị do bạn tự xác định.

In [ ]:
import pandas as pd
index = ['a','b','c','d','e','f','g','h','i','j']
a = [10,25,48,50,67,98,50,15,18,65]
seri1 = pd.Series(a, index=index)
seri1

a    10
b    25
c    48
d    50
e    67
f    98
g    50
h    15
i    18
j    65
dtype: int64

Câu 4: Sử dụng series ở câu 2, hãy truy cập đến phần tử thứ 5 và in ra màn hình

In [ ]:
pd.DataFrame(ser).iloc[4]

0   NaN
Name: e, dtype: float64

Câu 5: Sử dụng series ở câu 3, hãy truy cập đến 1 phần tử dựa theo chỉ số kiểu ký tự do bạn lựa chọn và in ra màn hình

In [ ]:
seri1['g']

50

Câu 6: Sử dụng series ở câu 3, hãy tìm ra tính chất đặc thù trong các chỉ số kiểu kí tự, thực hiện vòng lặp for duyệt trên các chỉ mục kiểu kí tự này để lọc ra những phần tử thỏa mãn điều kiện và in ra màn hình

In [ ]:
seri1[[name.endswith('1') for name in seri1.index]]

Series([], dtype: int64)

Câu 7: Sử dụng series ở câu 1, hãy đổi tên cột index thành 'STT' và đặt tên cho series là 'Gia_tri'. In kết quả ra màn hình

In [ ]:
seri.index.name = 'STT'
seri.name = 'Gia_tri'
seri

STT
0    10
1    25
2    48
3    50
4    67
5    98
6    50
7    15
8    18
9    65
Name: Gia_tri, dtype: int64

Câu 8: Hãy áp dụng hàm logarith của gói numpy với series ở câu 1 và in kết quả ra màn hình

In [ ]:
import numpy as np
np.log(seri)

STT
0    2.302585
1    3.218876
2    3.871201
3    3.912023
4    4.204693
5    4.584967
6    3.912023
7    2.708050
8    2.890372
9    4.174387
Name: Gia_tri, dtype: float64

Câu 9: Lọc các giá trị của series 1 > 15 và in ra màn hình

In [ ]:
seri[seri > 15]

STT
1    25
2    48
3    50
4    67
5    98
6    50
8    18
9    65
Name: Gia_tri, dtype: int64